modules = ["python-3.11", "postgresql-16"]
[nix]
channel = "stable-25_05"
packages = ["cargo", "iana-etc", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc", "unzip"]

[agent]
expertMode = true
integrations = ["replitmail:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python uber/main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["python", "uber/main.py"]

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BJ_B6yYE6mf4PhCGGQDP1IzuAvapgPsxWQvWQL4lMIGuzop8VV_iXOW5OguLTyIUIqgASH58t5XKLqgLCzVSQdc"
VAPID_PRIVATE_KEY = "rhM8PI-eakz__-iN6aHMF8_ntgaP0NKawyIvmrFajVM"
